html, body {
    height: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
    color:#9a9cab;
    font-size: 16px
}
a:hover {text-decoration:none}
input {
    filter: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid #565673;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0 1000px #1e1e2d inset;
    transition: background-color 5000s ease-in-out 0s;
}
img {max-width: 100%;height: auto}
b, strong {
    font-weight: normal;
}
.alert {
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    padding: 12px;
}
#loginBg {
    background: url("../cms/login-bg.png") no-repeat center left;
    background-size: cover;
}
#app {
    background: #1e1e2d
}
#app form {
    width: 430px;
}
.form-control {
    background: none;
    border:1px solid #565673;
    color:white;
    font-size: 16px
}
.form-group {
    margin-bottom: 15px;
}
.form-control:focus {
    color:white;
    background: none;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0,123,255,.25);
    border-color: #565673;
}
.btn {
    padding: 8px 23px;
    border-radius: 3px;
    border: 0;
    background: #00acc1;
    color: white;
    font-size: 14px;
    font-weight: 500;
}
.btn:hover {
    background: #008595;
    color: white;
}
.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}
